<template>
    <ul>
        <li v-for="user in users" :key="user.id">
            <strong>{{ user.first_name }} {{ user.last_name }}</strong>
            <p>email: {{ user.email }}</p>
            <img :src="user.avatar">
        </li>
    </ul>
</template>

<script>
    export default {
        data() {
            return {
                users: []
            };
        },

        props: {
            state: {
                type: Object,
                required: false
            },

            actions: {
                type: Object,
                required: false
            }
        },

        mounted() {
            this.actions.getUsers()
                .then(users => {
                    this.users = users;
                });
        }
    }
</script>