<template>
    <div class="sidebar">
        <slot
            v-bind="{ state, actions }"
        ></slot>
    </div>
</template>

<script>
    export default {
        name: 'provider-component',

        computed: {
            state() {
                return {
                    taggers: this.taggers
                }
            },

            actions() {
                return {
                    getTaggers: this.getTaggers
                };
            }
        },

        data() {
            return {
                taggers: []
            };
        },

        methods: {
            getTaggers() {
                this.taggers = [
                    { id: '1', name: 'some name' }
                ];
            }
        }
    }
</script>